html, body {
height: 100%;
}


body{
    background: url(../img/timelynx-75637-unsplash.jpg) repeat center/cover;
    font-family: sans-serif;
}
label{
    display: block;
    margin-bottom: 5px;
}
img{
    width: 300px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
}
div{
    display: block;
    margin-bottom: 25px;

}
.myforms {
    width: 500px;
    margin: 150px auto;
    background: #fff;
    position: relative;
    padding: 100px 50px 50px;
}
 input,textarea,select {
    outline: none;
    border: 1px solid  lightgray;
    padding: 10px;
    border-radius: 3px;
    width: 100%;
    transition: .3s all ease-in-out;
 }

 #homme, #femme, #autre, #vegetable, #kids, #meat {
     width: auto;

 }

img{
    outline: none;
}
textarea{
    height: 150px;
    resize: vertical;
}
input:focus, textarea:focus {
    border: 1px solid crimson;
}


